<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">{{titleBreadcrumb}}</li>
    <li class="breadcrumb-item active" aria-current="page">{{titleBread}}</li>
  </ol>
</nav>

<div
	class="container shadow-sm p-3 mb-3 bg-body rounded">
	<div class="row">
		<div class="col-xl-12 col-md-12 col-12 add__product-pc">
			<div class="row">
				<div class="col-8 d-flex mt-2">
					<div class="d-flex align-items-center bg-white w-50 px-2 py-0 border border-second rounded">
						<i class="fas fa-search mx-2"></i>
						<input type="search" ng-model="nameUser" 
						class="form-control form-control-sm border-0" placeholder="Nhập tên khách hàng...">
					</div>
					
					<!-- Tìm kiếm -->	
					<button ng-click="findByName()" type="submit" 
					class="btn btn-info btn-sm mx-2 px-4 text-white fw-bold">Tìm kiếm</button>
					
				</div>
				<div class="col-4 mt-2 d-flex justify-content-end">
	
					<!-- Thêm -->
					<button ng-click="insert()" class="btn btn-info btn-sm mx-2 px-4 text-white fw-bold"
					data-bs-toggle="modal" data-bs-target="#exampleModal"> Thêm mới </button>
	
					<!-- Select -->
					<div class="text-end">
						<select ng-change="getUsersbyFilter()" ng-model="list"
						ng-options="f.id as f.name for f in listFilter" class="px-2 border-0 form-select form-select-sm">
						  <option value="" class="fw-bold bg-info text-white"> --Vui lòng chọn-- </option>
						</select>
					</div>
				</div>
			</div>
			
			<div class="row mt-3">
				<div class="table-responsive">
					<table class="table border text-nowrap text-md-nowrap table-hover mb-0">
						<thead class="table_primary">
	                     	<tr>
								<th>UserName</th>
								<th>FullName</th>
								<th>Email</th>
								<th>Số Điện Thoại</th>
								<th>Ngày sinh</th>
								<th>Giới tính</th>
								<th>Hoạt động</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="u in pager.users">
								<td class="align-middle"> {{u.username}} </td>
								<td class="align-middle"> {{u.fullname}} </td>
								<td class="align-middle"> {{u.email}} </td>
								<td class="align-middle"> {{u.phone}} </td>
								<td class="align-middle"> {{u.birthday!=null ? u.birthday : "" | date: 'dd-MM-yyyy'}} </td>
								<td class="align-middle"> {{u.gender ? 'Nam' : 'Nữ'}} </td>
								<td class="align-middle"> {{u.status ? 'Hoạt động' : 'Ngừng hoạt động'}} </td>
								<td class="text-center align-middle">
									<!-- Edit -->
									<button ng-click="edit(u)" class="btn btn-info btn-sm text-white" 
									data-bs-toggle="modal" data-bs-target="#exampleModal"> <i class="fa-regular fa-pen-to-square"></i> </button>
									<!-- Remove -->
									<button ng-click="delete(u)" class="btn btn-danger btn-sm"> <i class="fa-regular fa-trash-can"></i> </button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row mt-3 text-start">
				<div class="col-xl text-end">
					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-end mb-0">
							<li class="page-item">
								<a ng-click="pager.first()" class="page-link text-dark"> <i class="fas fa-step-backward"></i> </a>
							</li>
							<li class="page-item">
								<a ng-click="pager.prev()" class="page-link text-dark"> <i class="fas fa-backward"></i> </a>
							</li>
							<li class="page-item">
								<span class="page-link bg-white text-dark">{{pager.page + 1}}</span>
							</li>
							<li class="page-item">
								<a ng-click="pager.next()" class="page-link text-dark"> <i class="fas fa-forward"></i> </a>
							</li>
							<li class="page-item">
								<a ng-click="pager.last()" class="page-link text-dark"> <i class="fas fa-step-forward"></i> </a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
		        <h1 class="modal-title fs-5" id="exampleModalLabel">Chi tiết gói</h1>
		    </div>
			<div class="modal-body">
				<form name="userForm" action="" novalidate>
					<!-- Image -->
					<div class="row">
			          <label class="form-label"> Hình ảnh <span class="text-red">*</span> </label>
			          <div class="card mb-4 w-75 mx-auto">
						<div class="card-body text-center image-upload">
							<label for="file-input"> 
								<img ng-if="formUserStore.photo==null" src="/assets/images/User/default__image.png"
								 class="rounded-circle mb-2 w-50">
								<img ng-src="/assets/images/User/{{formUserStore.photo}}" 
		                     	alt="{{formUserStore.photo}}" class="rounded-circle mb-2 w-50">
							</label>
							<div class="small font-italic text-muted mb-4"> Ảnh có kích thước nhỏ hơn 10MB </div>
							<input id="file-input" type="file" name="image"
			                onchange="angular.element(this).scope().ImageChanged(this.files)"/>
						</div>
					  </div>
			        </div>
					<!-- Id -->
					<div class="form-group mx-auto">
						<label class="form-label"> Mã đăng nhập <span class="text-red">*</span> </label>
						<!-- Input -->
						<input type="text" id="username"  class="w-full form-control" ng-model="formUserStore.username"
						ng-disabled="showBtn==false" placeholder="--Vui lòng nhập--" required>
						
						<div ng-show="userForm.username.$dirty && userForm.username.$invalid">
							<small class="text-danger fst-italic" ng-show="userForm.username.$error.required">
								Vui lòng không để trống <b>*</b>
							</small>
						</div>
					</div>

					<!-- Password -->
					<div class="form-group mx-auto">
						<label class="form-label"> Mật khẩu <span class="text-red">*</span> </label>
						<!-- Input -->
						<input id="password" type="password" name="password" class="form-control"
				 		minlength="5" ng-model="formUserStore.password" placeholder="--Vui lòng nhập--" required>
						
						<div ng-show="userForm.password.$dirty && userForm.password.$invalid">
							<small class="text-danger fst-italic" ng-show="userForm.password.$error.required">
								Vui lòng không để trống <b>*</b>
							</small>
							<small ng-show="userForm.password.$invalid" id="passwordhelpId" class="form-text fst-italic text-danger">
								Mật khẩu ít nhất 5 ký tự và tối đa 15 ký tự <b>*</b>
							</small>	
						</div>
					</div>

					<!-- Fullname -->
					<div class="form-group mx-auto">
						<label class="form-label"> Họ và tên <span class="text-red">*</span> </label>
						<!-- Input -->
						<input type="text" id="fullname" name="fullname" class="form-control"
						ng-model="formUserStore.fullname" placeholder="--Vui lòng nhập--" required>
						
						<div ng-show="userForm.fullname.$dirty && userForm.fullname.$invalid">
							<small class="text-danger fst-italic" ng-show="userForm.fullname.$error.required">
								Vui lòng không để trống <b>*</b>
							</small>
						</div>
					</div>

					<!-- Email -->
					<div class="form-group mx-auto">
						<label class="form-label"> Email <span class="text-red">*</span> </label>
						<!-- Input -->
						<input id="email" type="email" name="email" ng-model="formUserStore.email"
						class="form-control" placeholder="--Vui lòng nhập--" required>
						
						<div ng-show="userForm.email.$dirty && userForm.email.$invalid && userForm.email.$error.email">
							<small class="text-danger fst-italic" ng-show="userForm.email.$error.required">
								Vui lòng không để trống <b>*</b>
							</small>
							<small class="text-danger fst-italic" ng-show="userForm.email.$error.email">
								Email chưa đúng định dạng <b>*</b>
							</small>
						</div>
					</div>

					<!-- Gender -->
					<div class="form-group mx-auto">
						<label class="form-label"> Giới tính <span class="text-red">*</span> </label>
						<div class="d-flex">
						
							<div class="form-check me-2">
								<input ng-model="formUserStore.gender" type="radio" ng-value="true" id="gridRadios1"
								name="gridRadios" class="form-check-input">
								<label class="form-check-label" for="gridRadios1"> Nam </label>
							</div>
							
							<div class="form-check">
								<input ng-model="formUserStore.gender" type="radio" ng-value="false" id="gridRadios2"
								name="gridRadios" class="form-check-input">
								<label class="form-check-label" for="gridRadios2"> Nữ </label>
							</div>
						</div>
					</div>

					<!-- Số điện thoại -->
					<div class="form-group mx-auto">
						<label class="form-label"> Số điện thoại <span class="text-red">*</span> </label>
						<!-- Input -->
						<input ng-model="formUserStore.phone" ng-pattern="regexPhone" type="text" name="phone" 
						class="form-control" placeholder="--Vui lòng nhập--" required>
						
						<div ng-show="userForm.phone.$dirty && userForm.phone.$invalid || userForm.phone.$error.pattern">
							<small class="text-danger fst-italic" ng-show="userForm.phone.$error.pattern && userForm.phone.$invalid">
								Số điện thoại chưa phù hợp <b>*</b>
							</small> 
							<small class="text-danger fst-italic" ng-show="userForm.phone.$error.required">
								Vui lòng không để trống <b>*</b>
							</small>
						</div>
					</div>

					<!-- Birthday -->
					<div class="form-group mx-auto">
						<label class="form-label"> Ngày sinh <span class="text-red">*</span> </label>
						<!-- Input -->
						<input type="date" class="form-control" ng-model="formUserStore.birthday"
						max="{{maxAge | date: 'yyyy-MM-dd'}}" value="{{valueAge | date: 'yyyy-MM-dd'}}">
					</div>
					
					<!-- Status -->
					<div class="form-group mx-auto">
						<label class="form-label"> Trạng thái <span class="text-red">*</span> </label>
						<div class="d-flex">
						
							<div class="form-check me-2">
								<input id="true" ng-value="true" type="radio" name="status" class="form-check-input"
								ng-model="formUserStore.status">
								<label class="form-check-label" for="true"> Hoạt động </label>
							</div>
							
							<div class="form-check">
								<input id="false" type="radio" ng-value="false" name="status" class="form-check-input"
								ng-model="formUserStore.status">
								<label class="form-check-label" for="false"> Ngừng hoạt động </label>
							</div>
						</div>
					</div>

					<div class="row mt-2">
						<div class="col-xl-6">
							<button type="button" class="btn btn-danger w-100" ng-click="reset()" data-bs-dismiss="modal">Hủy</button>
						</div>
						<div class="col-xl-6">
							<button type="button" ng-if="showBtn == true" ng-click="create()"
							ng-disabled="userForm.$invalid" class="btn btn-info text-white w-100">Lưu</button>
							<button type="button" ng-if="showBtn == false" ng-click="update()"
							ng-disabled="userForm.$invalid" class="btn btn-info text-white w-100">Lưu thay đổi</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>