
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">{{titleBreadcrumb}}</li>
    <li class="breadcrumb-item active" aria-current="page">{{titleBread}}</li>
  </ol>
</nav>

<div class="row shadow-sm bg-second mx-3 py-3 rounded">
	<div class="col-xl-12 col-md-12 col-12 add__product-pc">
		<div class="row mb-3 text-start">
			<div class="col-10">
				<form class="d-flex align-items-center">
					<div
						class="d-flex align-items-center bg-white w-25 px-2 me-2 border border-light rounded">
						<i class="fas fa-search mx-2"></i> <input
							class="form-control border-0" ng-model="keyword" placeholder="Tìm theo mã">
					</div>

					<button ng-click ="" class="btn btn-info text-white fw-bold">
						Tìm kiếm
					</button>
				</form>
			</div>
			
			<div class="col text-end">
				<select 
					class="form-select"
				>
				  <option value="" class="fw-bold bg-info text-white">Lọc</option>
				</select>
			</div>
		</div>

		<div class="row mt-3">
			<div class="table-responsive">
				<table
					class="table text-start align-middle table-bordered border-white table-hover mb-0">
					<thead class="text-center bg-table">
						<tr>
							<th>Ảnh</th>
							<th>Tên gói</th>
							<th>Giá</th>
							<th>Ngày tạo</th>
							<th>Hoạt động</th>
						</tr>
					</thead>
					<tbody class="table table-info">
						<tr ng-repeat="p in list.pack">
							<td class="align-middle">
								<img alt="{{p.image}}" ng-src="/assets/images/{{p.image}}">
							</td>
							<td class="align-middle">{{p.name}}</td>
							<td class="align-middle text-end">{{p.price}}</td>
							<td class="align-middle">
								{{p.date}}
							</td>
							<td class="text-center align-middle">
								<button type="button" ng-click="edit()" class="border-0 text-warning"
									data-bs-toggle="modal" data-bs-target="#exampleModal">
									<i class="fas fa-edit"></i>
								</button>
								<button 
									ng-click="delete(product)"
									class="text-danger border-0"
								> <i class="fas fa-ban"></i> </button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row my-3 text-start">
			<div class="col-xl text-end">
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-end">
						<li class="page-item"><a
							ng-click="loadData(0,pageField,pageSort)"
							class="page-link text-dark"> <i class="fas fa-step-backward"></i>
						</a></li>
						<li class="page-item"><a
							ng-click="loadData(page.number-1,pageField,pageSort)"
							class="page-link text-dark"> <i class="fas fa-backward"></i>
						</a></li>
						<li class="page-item"><span class="page-link bg-white">{{page.number+1}}</span>
						</li>
						<li class="page-item"><a
							ng-click="loadData(page.number+1,pageField,pageSort)"
							class="page-link text-dark"> <i class="fas fa-forward"></i>
						</a></li>
						<li class="page-item"><a
							ng-click="loadData(page.totalPages-1,pageField,pageSort)"
							class="page-link text-dark"> <i class="fas fa-step-forward"></i>
						</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="add__product-mobile text-center text-white fw-bold p-5">
		<i class="fa-solid fa-circle-exclamation text-danger"
			style="font-size: 80px;"></i>
		<p class="content__mobile text-dark">
			Để thực hiện chức năng <br> Vui lòng sử dụng trình duyệt máy
			tính
		</p>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <!-- Hình ảnh -->
       	<div class="mb-3 row">
			<div class="image-upload">
	           	<label for="file-input" style="cursor:pointer;">
	              <img 
	              	ng-src="{{'/assets/images/Products/' + formProduct.image}}" 
	              	alt="{{formProduct.image}}" style="width: 100px; height: 100px;"
	              >
	           	</label>
	           	<input id="file-input" type="file" name="image"
	           		onchange="angular.element(this).scope().ImageChanged(this.files)"/>
	        </div>
		</div>
        <!-- Tên -->
       	<div class="mb-3 row">
		    <label for="name" class="col-sm-2 col-form-label">Tên gói:</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="name">
		    </div>
		</div>
        <!-- Giá -->
       	<div class="mb-3 row">
		    <label for="price" class="col-sm-2 col-form-label">Giá:</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="price">
		    </div>
		</div>
        <!-- Số ngày -->
       	<div class="mb-3 row">
		    <label for="date" class="col-sm-3 col-form-label">Hiệu lực:</label>
		    <div class="col-sm-9">
		      <input type="number" class="form-control" id="date">
		    </div>
		</div>		
        <!-- Ngày tạo -->
        <div>
        	<label	
        	class="text-secondary">
        	<b>Ngày tạo:</b> 9-11-2022
        </label> <br>
        <label 
        	class="text-secondary">
        	<b>Thay đổi gần nhất:</b> 9-11-2022
        </label>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button ng-if="showBtn == true" type="button" class="btn btn-primary">Lưu</button>
        <button ng-if="showBtn == false" type="button" class="btn btn-primary">Lưu thay đổi</button>
      </div>
    </div>
  </div>
</div>