<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
<title>Lấy lại mật khẩu</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="shortcut icon"
	href="https://img.icons8.com/cute-clipart/344/shortcuts.png" />
<!--===============================================================================================-->
<!-- Angular JS -->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="/assets/suport/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="/assets/suport/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="/assets/suport/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="/assets/suport/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="/assets/suport/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/assets/css/home/util.css">
<link rel="stylesheet" type="text/css" href="/assets/css/home/main.css">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="/assets/images/img-01.png" alt="IMG">
				</div>				
					
					<form class="login100-form validate-form " action="send-mail" method="post">
						<th:block th:if="${success !=null}">
						<div class="alert alert-success text-center" role="alert" th:text="${success}"></div>
					</th:block>
					
					<span class="login100-form-title "> THAY ĐỔI <br> MẬT KHẨU </span>
	
						<div class="wrap-input100 validate-input"
							data-validate="Vui lòng không để trống">
							<input class="input100" type="password" name="password1"
								placeholder="Nhập mật khẩu mới*"  th:readonly ="${success}" > <span
								class="focus-input100"></span> <span class="symbol-input100">
								<i class="fa fa-lock" aria-hidden="true"></i>
							</span>
						</div>
	
						<div class="wrap-input100 validate-input"
							data-validate="Vui lòng không để trống">
							<input class="input100" type="password" name="password2"
								placeholder="Xác nhận mật khẩu mới*" th:readonly ="${success}" > <span
								class="focus-input100" ></span> <span class="symbol-input100">
								<i class="fa fa-lock" aria-hidden="true"></i>
							</span>
						</div>
						<div class="container-login100-form-btn">
							<button type ="submit" class="login100-form-btn " >Xác nhận</button>
						</div>
						<div class="text-center p-t-12">
							<a class="login101-form-btn" th:href="@{/user-app/auth/form}"> 
								Đăng nhập ngay
							</a>
						</div>
					</form>
					
				
			</div>
		</div>
	</div>




	<!--===============================================================================================-->
	<script src="/assets/suport/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script th:src="@{/assets/suport/bootstrap/js/popper.js}"></script>
	<script src="/assets/suport/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/assets/suport/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="/assets/suport/tilt/tilt.jquery.min.js"></script>
	<script>
		$('.js-tilt').tilt({
			scale : 1.1
		})
	</script>
	<!--===============================================================================================-->
	<script src="/assets/js/home/main_forgot.js"></script>

</body>
</html>