:root {
	
}

body {
	font-family: 'Krub', sans-serif;
	background-color: #f8f9fa;
}

.text-primary {
	color: #ff8008 !important;
}

.btn-primary {
	background: #ff8008 !important;
	border: 1px solid #ff512f !important;
}

.btn-primary:hover {
	background: #ff512f !important;
	border: 1px solid #ff512f !important;
}

.fa-heart:hover {
	color: red !important;
}

.btn-outline-primary {
	border: 1px solid #ff512f !important;
	color: #ff512f !important;
}

.btn-outline-primary:hover {
	border: 1px solid #ff512f !important;
	background: #ff512f !important;
	color: #fff !important;
}

.animate--shake {
	animation: shake 10s ease infinite;
}
 
@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.animate__animated.animate__tada {
  --animate__tada: 2s;
}

.active {
	font-weight: 700 !important;
}

.shadow {
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1) !important;
}

.comment {
	border: 2px solid green;
}

.image-upload>input {
  display: none;
}

.list--item {
	cursor: pointer;	
}

.text-edit {
	text-align: right !important;
}

.home-show {
	display: none;
}

/* Mobile */
@media ( max-width : 47.9375em) {
	.img__logo {
		display: none !important;
	}
	
	.header {
		padding-right: 5px !important;
		padding-left: 12px !important;
	}
	
	.collapse-header {
		display: flex;
	}
	
	.text-edit {
		text-align: left !important;
	}
	
	.text-hide {
		display: none;
	}
	
	.text-end-mb {
		text-align: left !important;
	}

	.text-center-mb {
		text-align: left !important;
	}
	
	.home-show {
		display: block;
	}
}