<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">{{titleBreadcrumb}}</li>
    <li class="breadcrumb-item active" aria-current="page">{{titleBread}}</li>
  </ol>
</nav>

<div
	class="container shadow-sm p-3 mb-3 bg-body  rounded container__size">
	<form name="nameStoreForm" class="row" novalidate>
		<div class="col-xl-5 col-md-12 col-12">
			<label class="font__size-title mb-2">Tên và liên hệ</label>
			<div class="mb-3">
				<div class="form-floating mb-3">
					<input ng-model="name" name="name" type="text"
						class="form-control form-control-sm" id="nameStore"
						placeholder="Nhập tên cửa hàng của bạn" required>
					<div
						ng-show="nameStoreForm.name.$dirty && nameStoreForm.name.$invalid">
						<small class="text-danger fst-italic"
							ng-show="nameStoreForm.name.$error.required">Vui lòng
							không để trống*</small>
					</div>
					<label for="nameStore" class="form-label"> Tên nhà hàng <span
						class="text-danger">*</span> <small
						ng-show="nameStoreForm.name.$valid"> <i
							class="fas fa-check text-success"></i>
					</small>
					</label>
				</div>
			</div>
			<div class="mb-3">
				<div class="form-floating mb-3">
					<input ng-model="phone" name="phone" ng-pattern="regexPhone"
						type="number" class="form-control form-control-sm" id="phoneStore"
						placeholder="Nhập số điện thoại của bạn" required>
					<div
						ng-show="nameStoreForm.phone.$dirty && nameStoreForm.phone.$invalid || nameStoreForm.phone.$error.pattern">
						<small class="text-danger fst-italic"
							ng-show="nameStoreForm.phone.$error.pattern && nameStoreForm.phone.$invalid">Số
							điện thoại chưa phù hợp*</small> <small class="text-danger fst-italic"
							ng-show="nameStoreForm.phone.$error.required">Vui lòng
							không để trống*</small>
					</div>
					<label for="phoneStore" class="form-label"> Số điện thoại
						cửa hàng <span class="text-danger">*</span> <small
						ng-show="nameStoreForm.phone.$valid"> <i
							class="fas fa-check text-success"></i>
					</small>
					</label>
				</div>
			</div>
			<div class="mb-3">
				<div class="form-floating mb-3">
					<input ng-model="address" name="address" type="text"
						class="form-control form-control-sm" id="addressStore"
						placeholder="Nhập địa chỉ của bạn" required>
					<div
						ng-show="nameStoreForm.address.$dirty && nameStoreForm.address.$invalid">
						<small class="text-danger fst-italic"
							ng-show="nameStoreForm.address.$error.required">Vui lòng
							không để trống*</small>
					</div>
					<label for="addressStore" class="form-label"> Địa chỉ cửa
						hàng <span class="text-danger">*</span> <small
						ng-show="nameStoreForm.address.$valid"> <i
							class="fas fa-check text-success"></i>
					</small>
					</label>
				</div>
			</div>
		</div>
		<div class="col-xl-5 col-md-12 col-12 d-flex align-items-center">
			<div class="card mb-4 mt-xl-5">
				<div class="card-body text-center">
					<img class="img__store rounded-circle mb-2"
						src="/assets/images/default__image.png" alt="Ảnh logo cửa hàng">
					<div class="small font-italic text-muted mb-4">Ảnh có kích
						thước nhỏ hơn 10MB</div>
					<input type="file" class="form-control">
				</div>
			</div>
		</div>
		<div class="col-xl-2 col-md-12 col-12">
			<div class="text-end mt-xl-5">
				<button ng-disabled="nameStoreForm.$invalid" type="submit"
					class="btn btn-primary btn-lg btn__t-m">Cập nhật</button>
				<button ng-disabled="nameStoreForm.$invalid" type="submit"
					class="btn btn-primary btn-lg btn__pc w-100">Cập nhật</button>
			</div>
		</div>
	</form>
</div>