<div class="row">
	<label class="fs-5">Thực đơn</label>
</div>
<div class="list-group">
	<button ng-click="c1()"
		class="list-group-item list-group-item-action list-group-item-light border border-0 rounded mb-2">Loại
		1</button>
	<button ng-click="c2()"
		class="list-group-item list-group-item-action list-group-item-light border border-0 rounded mb-2">Loại
		2</button>
	<button ng-click="c3()"
		class="list-group-item list-group-item-action list-group-item-light border border-0 rounded mb-2">Loại
		3</button>
</div>