<div class="row">
	<div class="input-group input-group-sm mb-3">
		<span class="input-group-text bg-light" id="inputGroup-sizing-sm"><i
			class="fas fa-search"></i></span> <input type="text"
			class="form-control bg-light" aria-label="Sizing example input"
			aria-describedby="inputGroup-sizing-sm"
			placeholder="Bạn cần tìm món gì?">
	</div>
</div>

<div class="row p-2">
	<h5 class="mb-2">{{title}}</h5>
	<hr>
</div>
<div class="row row-cols-1 row-cols-md-2 g-4 text-center">
	<div class="col">
		<div class="card">
			<label data-bs-toggle="modal" data-bs-target="#exampleModal"><img
				src="/assets/images/sp1.jpg"
				class="card-img-top img__product-menu img__hover" alt="..."></label>
			<div class="card-body text-start">
				<h5 class="card-title text-truncate">This text is quite long,
					and will be truncated once displayed.</h5>
				<div class="row">
					<div class="col text-warning fw-bold">0</div>
					<div class="col text-end">
						<a ng-href="/assets/cart/menu/list_favorite.html"
							class="btn btn-danger rounded-circle"> <i
							class="fas fa-heart"></i>
						</a>
						<button ng-click="add()" class="btn btn-warning rounded-circle">
							<i class="far fa-plus"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<img src="/assets/images/double-burger.jpg"
				class="card-img-top img__product-menu img__hover" alt="...">
			<div class="card-body text-start">
				<h5 class="card-title text-truncate">This text is quite long,
					and will be truncated once displayed.</h5>
				<div class="row">
					<div class="col text-warning fw-bold">0</div>
					<div class="col text-end">
						<a ng-href="/assets/cart/menu/list_favorite.html"
							class="btn btn-danger rounded-circle"> <i
							class="fas fa-heart"></i>
						</a>
						<button ng-click="add()" class="btn btn-warning rounded-circle">
							<i class="far fa-plus"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<img src="/assets/images/sp3.jpeg"
				class="card-img-top img__product-menu img__hover" alt="...">
			<div class="card-body text-start">
				<h5 class="card-title text-truncate">This text is quite long,
					and will be truncated once displayed.</h5>
				<div class="row">
					<div class="col text-warning fw-bold">0</div>
					<div class="col text-end">
						<a ng-href="/assets/cart/menu/list_favorite.html"
							class="btn btn-danger rounded-circle"> <i
							class="fas fa-heart"></i>
						</a>
						<button ng-click="add()" class="btn btn-warning rounded-circle">
							<i class="far fa-plus"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<img src="/assets/images/sp4.jpeg"
				class="card-img-top img__product-menu img__hover" alt="...">
			<div class="card-body text-start">
				<h5 class="card-title text-truncate">This text is quite long,
					and will be truncated once displayed.</h5>
				<div class="row">
					<div class="col text-warning fw-bold">0</div>
					<div class="col text-end">
						<a ng-href="/assets/cart/menu/list_favorite.html"
							class="btn btn-danger rounded-circle"> <i
							class="fas fa-heart"></i>
						</a>
						<button ng-click="add()" class="btn btn-warning rounded-circle">
							<i class="far fa-plus"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-body">
				<div class="card">
					<div class="row g-0">
						<div class="col-md-5">
							<img src="/assets/images/sp1.jpg" class="img-fluid rounded-start"
								alt="...">
							<div class="card-img-overlay text-white">
								<h5 class="card-title">Tên món</h5>
								<p class="card-text">
									<small>0 đ</small>
								</p>
							</div>
						</div>

						<div class="col-md-7">
							<div class="card-body">
								<p class="card-text">This is a wider card with supporting
									text below as a natural lead-in to additional content. This
									content is a little bit longer.</p>

								<div class="row">
									<div class="col text-start">
										<div class="input-group w-50">
											<span class="input-group-text rounded-circle"><i
												class="fas fa-minus"></i></span> &nbsp; <input type="text"
												class="form-control border border-0 text-center" value="1">
											&nbsp; <span class="input-group-text rounded-5"><i
												class="fas fa-plus"></i></span>
										</div>
									</div>
									<div class="col text-end">
										<button class="btn btn-warning text-white">Thêm vào
											giỏ</button>
									</div>
								</div>

								<div class="container shadow-lg mt-3 rounded p-2">
									<div class="card-comment">
										<div class="row">
											<div class="col-2">
												<img src="/assets/images/icon_user.png" width="70"
													class="rounded-circle mt-2">
											</div>
											<div class="col-10">
												<div class="comment-box ml-2">
													<h4>Gửi đánh giá</h4>
													<div class="rating">
														<input type="radio" name="rating" value="5" id="5"><label
															for="5">☆</label> <input type="radio" name="rating"
															value="4" id="4"><label for="4">☆</label> <input
															type="radio" name="rating" value="3" id="3"><label
															for="3">☆</label> <input type="radio" name="rating"
															value="2" id="2"><label for="2">☆</label> <input
															type="radio" name="rating" value="1" id="1"><label
															for="1">☆</label>
													</div>
													<div class="comment-area">
														<textarea class="form-control"
															placeholder="Bạn nghĩ gì về sản phẩm này?" rows="4"></textarea>
													</div>
													<div class="comment-btns mt-2">
														<div class="row">
															<div class="col text-end">
																<div class="pull-right">
																	<button class="btn btn-success send btn-sm">
																		Gửi <i class="fa fa-long-arrow-right ml-1"></i>
																	</button>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
