<nav class="mt-3 mx-3" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">{{titleBreadcrumb}}</li>
    <li class="breadcrumb-item active" aria-current="page">{{titleBread}}</li>
  </ol>
</nav>

<div class="row shadow-sm bg-second mx-3 py-3 rounded">

	<div class="col-xl-12 col-md-12 col-12 add__product-pc">
		<div class="row">
			<div class="col-10">
				<form class="d-flex align-items-center">
					<div class="d-flex align-items-center bg-white w-25 px-2 me-2 border border-light rounded">
						<i class="fas fa-search mx-2"></i>
						<input class="form-control border-0" placeholder="Tìm theo mã">
					</div>

					<div class="d-flex align-items-center bg-white w-25 px-2 me-2 border border-light rounded">
						<i class="fas fa-search mx-2"></i>
						<input class="form-control border-0" placeholder="Tìm theo tên">
					</div>
						
					<button class="btn btn-info me-2 px-2">Tìm kiếm</button>
					
					<button 
						ng-click="insert()"
						class="btn btn-info me-2"
						data-bs-toggle="modal" 
						data-bs-target="#editModal"
						data-bs-whatever="add"
					>
						<i class="fas fa-plus-circle"></i>
						Thêm món mới
					</button>

					<button 
						ng-click="insertCate()"
						class="btn btn-info"
						data-bs-toggle="modal" 
						data-bs-target="#addCateModal"
						data-bs-whatever="addCate"
					>
						<i class="fas fa-plus-circle"></i>
						Thêm loại mới
					</button>
				</form>
			</div>
			<div class="col-2 text-end">
				<label type="submit" class="btn text-primary font__size-btn">
					<i class="fas fa-sort-amount-down-alt"></i> Sắp xếp
				</label>
			</div>
		</div>
		
		<div class="row mt-3">
			<div class="table-responsive">
			     <table 
			     	class="table text-start align-middle table-bordered border-white table-hover mb-0"
			     >
			         <thead class="text-center bg-table">
			             <tr>
			                 <th scope="col">Mã món</th>
			                 <th scope="col">Tên món</th>
			                 <th scope="col">Đơn vị</th>
			                 <th scope="col">Loại món</th>
			                 <th scope="col">Giá</th>
			                 <th scope="col"></th>
			             </tr>
			         </thead>
			         <tbody class="table table-info">
			             <tr
			             	ng-repeat="p in list.product"
			             >
			                 <td scope="col">
			                     {{p.id}}
			                 </td>
			                 <td scope="col">{{p.name}}</td>
			                 <td scope="col">{{p.donVi}}</td>                             
			                 <td scope="col">{{p.cate}}</td>
			                 <td scope="col" class="text-end">{{p.price | currency:'':0}} đ</td>
			                 <td class="text-center align-middle">
				<button 
					ng-click="edit()" 
					class="text-warning border-0"
					data-bs-toggle="modal"
					data-bs-target="#editModal" 
					data-bs-whatever="edit"
				> <i class="fas fa-edit"></i> </button>
				<button 
					ng-click="deleteP()"
					class="text-danger border-0"
				> <i class="fas fa-ban"></i> </button>
			</td>
			             </tr>
			         </tbody>
			     </table>
			 </div>
		</div>
	</div>
	
	<div class="row mt-3 text-start px-5">
		<div class="col-6 text-start">
			<label> 1/5 </label>
		</div>
		<div class="col-6 text-end">
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-end">
					<li class="page-item disabled">
						<a class="page-link"> << </a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">1</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">2</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">3</a>
					</li>
					<li class="page-item">
							<a class="page-link" href="#"> >> </a>
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<div class="add__product-mobile text-center text-white fw-bold p-5">
		<i class="fa-solid fa-circle-exclamation text-danger" style="font-size: 80px;"></i>
		<p class="content__mobile text-dark">
			Để thực hiện chức năng <br> Vui lòng sử dụng trình duyệt máy
			tính
		</p>
	</div>
</div>

<!-- Full screen modal add product -->
<div 
	class="modal fade" 
	id="editModal" 
	tabindex="-2"
	aria-labelledby="exModalLabel" 
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<h5 class="text-dark text-center">{{titleTable}}</h5>
				
				<form action="" class="px-2" name="productForm" novalidate>
					<!-- Image -->
					<div class="row">
                        <h6 
                            class="text-secondary"
                        >Hình ảnh</h6>
                        <div class="image-upload">
                        	<label for="file-input" style="cursor:pointer;">
	                          <img src="/assets/images/icon_food.png" alt="" class="img__food">
                        	</label>
                        	<input id="file-input" type="file" />
                        </div>
                    </div>
                    <!-- Id -->
					<div class="row mt-1">
                        <h6 
                            class="text-secondary"
                        >Mã món
                        	<small
								ng-show="productForm.id.$valid"
							> 
								<i class="fas fa-check text-success"></i>
							</small>
                        </h6>
                        <div>
                          <input 
                          	  ng-model="id"
                              type="text" 
                              id="id"
                              name="id"
                              class="w-full form-control"
                              placeholder="--Vui lòng nhập--"
                              required
                          >
                          <div
							ng-show="productForm.id.$dirty && productForm.id.$invalid"
						  >
							<small 
								class="text-danger fst-italic"
								ng-show="productForm.id.$error.required"
							>Vui lòng không để trống (*)</small>
						  </div>
                        </div>
                    </div>
                    <!-- Name -->
					<div class="row mt-1">
                        <h6 
                            class="text-secondary"
                        >Tên món
                        	<small
								ng-show="productForm.name.$valid"
							> 
								<i class="fas fa-check text-success"></i>
							</small>
                        </h6>
                        <div>
                          <input 
                          	  ng-model="name"
                              type="text" 
                              id="name"
                              name="name"
                              class="w-full form-control"
                              placeholder="--Vui lòng nhập--"
                              required
                          >
                          <div
							ng-show="productForm.name.$dirty && productForm.name.$invalid"
						  >
							<small 
								class="text-danger fst-italic"
								ng-show="productForm.name.$error.required"
							>Vui lòng không để trống (*)</small>
						  </div>
                        </div>
                    </div>
                    <!-- Unit -->
					<div class="row mt-1">
                        <h6 
                            class="text-secondary"
                        >Đơn vị </h6>
                        <div>
                        	<select class="form-select" aria-label="Default select example">
							  <option selected>--Vui lòng chọn--</option>
							  <option value="1">One</option>
							  <option value="2">Two</option>
							  <option value="3">Three</option>
							</select>
                        </div>
                    </div>
                    <!-- Cate -->
					<div class="row mt-1">
                        <h6 
                            class="text-secondary"
                        >Loại </h6>
                        <div>
                        	<select class="form-select" aria-label="Default select example">
							  <option selected>--Vui lòng chọn--</option>
							  <option 
							  	ng-repeat="(id,c) in list.cate"
							  	value="{{c.id}}"
							  >{{c.name}}</option>
							</select>
                        </div>
                    </div>
                    <!-- Price -->
					<div class="row mt-1">
                        <h6 
                            class="text-secondary"
                        >Giá (VND)
                        	<small
								ng-show="productForm.price.$valid"
							> 
								<i class="fas fa-check text-success"></i>
							</small>
                        </h6>
                        <div>
                          <input 
                          	  ng-model="price"
                              type="number" 
                              id="price"
                              name="price"
                              min="1" 
                              max="9999999999"
                              class="w-full form-control"
                              placeholder="--Vui lòng nhập--"
                              required
                          >
                          <div
							ng-show="productForm.price.$dirty && productForm.price.$invalid"
						  >
							<small 
								class="text-danger fst-italic"
								ng-show="productForm.price.$error.required"
							>Vui lòng không để trống (*)</small>
							<small
								class="text-danger fst-italic error"
								ng-show="productForm.price.$invalid"
							>Giá bán không phù hợp (*)</small>
						  </div>
                        </div>
                    </div>
                    <!-- Discount -->
					<div class="row mt-1">
                        <h6 
                            class="text-secondary"
                        >Giảm giá (%)
                        	<small
								ng-show="productForm.discount.$valid"
							> 
								<i class="fas fa-check text-success"></i>
							</small>
                        </h6>
                        <div>
                          <input 
                          	  ng-model="discount"
                              type="number" 
                              id="discount"
                              name="discount"
                              min="0" 
                              max="100"
                              class="w-full form-control"
                              placeholder="--Vui lòng nhập--"
                              required
                          >
                          <div
							ng-show="productForm.discount.$dirty && productForm.discount.$invalid"
						  >
							<small 
								class="text-danger fst-italic"
								ng-show="productForm.discount.$error.required"
							>Vui lòng không để trống (*)</small>
							<small
								class="text-danger fst-italic error"
								ng-show="productForm.discount.$invalid"
							>Phần trăm giảm giá không phù hợp (*)</small>
						  </div>
                        </div>
                    </div>
                    <!-- describe -->
					<div class="row mt-1">
                        <h6 
                            class="text-secondary"
                        >Mô tả
                        	<small
								ng-show="productForm.describe.$valid"
							> 
								<i class="fas fa-check text-success"></i>
							</small>
                        </h6>
                        <div>
                          <textarea 
                          	  ng-model="describe"
                              id="describe"
                              name="describe"
                              rows="4"
                              class="w-full form-control"
                              placeholder="--Vui lòng nhập--"
                              required
                          ></textarea>
                          <div
							ng-show="productForm.describe.$dirty && productForm.describe.$invalid"
						  >
							<small 
								class="text-danger fst-italic"
								ng-show="productForm.describe.$error.required"
							>Vui lòng không để trống (*)</small>
						  </div>
                        </div>
                    </div>
				</form>
				
				<div class="row mt-2">
					<div class="col-xl-6">
						<button class="btn btn-outline-danger w-100" data-bs-dismiss="modal">Hủy</button>
					</div>
					<div class="col-xl-6">
						<button ng-disabled="productForm.$invalid" class="btn btn-info w-100">Lưu</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Full screen modal add category -->
<div class="modal fade" id="addCateModal" tabindex="-1"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<h5 class="text-dark text-center">{{titleTable}}</h5>

				<form action="" name="cateForm" novalidate>
					<!-- Id -->
					<div class="row mt-1">
                        <h6 
                            class="text-secondary"
                        >Mã loại
                        	<small
								ng-show="cateForm.id.$valid"
							> 
								<i class="fas fa-check text-success"></i>
							</small>
                        </h6>
                        <div>
                          <input 
                          	  ng-model="id"
                              type="text" 
                              id="id"
                              name="id"
                              class="w-full form-control"
                              placeholder="--Vui lòng nhập--"
                              required
                          >
                          <div
							ng-show="cateForm.id.$dirty && cateForm.id.$invalid"
						  >
							<small 
								class="text-danger fst-italic"
								ng-show="cateForm.id.$error.required"
							>Vui lòng không để trống (*)</small>
						  </div>
                        </div>
                    </div>
                    <!-- Name -->
					<div class="row mt-1">
                        <h6 
                            class="text-secondary"
                        >Tên loại
                        	<small
								ng-show="cateForm.name.$valid"
							> 
								<i class="fas fa-check text-success"></i>
							</small>
                        </h6>
                        <div>
                          <input 
                          	  ng-model="name"
                              type="text" 
                              id="name"
                              name="name"
                              class="w-full form-control"
                              placeholder="--Vui lòng nhập--"
                              required
                          >
                          <div
							ng-show="cateForm.name.$dirty && cateForm.name.$invalid"
						  >
							<small 
								class="text-danger fst-italic"
								ng-show="cateForm.name.$error.required"
							>Vui lòng không để trống (*)</small>
						  </div>
                        </div>
                    </div>
				</form>
				
				<div class="row mt-2">
					<div class="col-xl-6">
						<button class="btn btn-outline-danger w-100" data-bs-dismiss="modal">Hủy</button>
					</div>
					<div class="col-xl-6">
						<button ng-disabled="cateForm.$invalid" class="btn btn-info w-100">Lưu</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>