<!-- Sale & Revenue Start -->
     <div class="container-fluid pt-4 px-4">
         <div class="row g-4">
             <div class="col-sm-6 col-xl-3">
                 <div class="bg-second rounded p-4">
                     <div class="d-flex align-items-center justify-content-between">
                     	<i class="fa fa-chart-line fa-3x color-text "></i>
	                     <div class="ms-3 text-end">
	                         <p class="mb-2">Hôm nay</p>
	                         <h6 class="mb-0 text-light">{{orderInDate}} đơn</h6>
	                     </div>
                     </div>
                 </div>
             </div>
             <div class="col-sm-6 col-xl-3">
                 <div class="bg-second rounded d-flex align-items-center justify-content-between p-4">
                     <i class="fa fa-chart-bar fa-3x color-text  "></i>
                     <div class="ms-3 text-end">
                         <p class="mb-2">Tháng {{month}}</p>
                         <h6 class="mb-0 text-light">{{orderInMonth}} đơn</h6>
                     </div>
                 </div>
             </div>
             <div class="col-sm-6 col-xl-3">
                 <div class="bg-second rounded d-flex align-items-center justify-content-between p-4">
                     <i class="fa fa-chart-area fa-3x color-text "></i>
                     <div class="ms-3 text-end">
                         <p class="mb-2">Hôm nay</p>
                         <h6 class="mb-0 text-light">{{saleorderInDate | currency:'':0}} đ</h6>
                     </div>
                 </div>
             </div>
             <div class="col-sm-6 col-xl-3">
                 <div class="bg-second rounded d-flex align-items-center justify-content-between p-4">
                     <i class="fa fa-chart-pie fa-3x color-text  "></i>
                     <div class="ms-3 text-end">
                         <p class="mb-2">Tháng {{month}}</p>
                         <h6 class="mb-0 text-light">{{saleorderInMonth | currency:'':0}} đ</h6>
                     </div>
                 </div>
             </div>
         </div>
     </div>
	<!-- Sale & Revenue End -->
	
	<div class="container-fluid pt-4 px-4">
         <div class="bg-second rounded p-2">
			<h6 class="color-text">Chi tiết tháng {{month}}</h6>
			<div class="row py-4">
				<div class="col-xl-3 text-center mt-2">
	                <small class="order-loading text-start py-1 px-5 rounded-pill">
					  Đang xử lý: <b>{{orderLoading}}</b> đơn
					</small>
	            </div>
	            <div class="col-xl-3 text-center mt-2">
	              	<small class="order-success text-start py-1 px-5 rounded-pill">
					  Thành công: <b>{{orderSuccess}}</b> đơn
					</small>
	            </div>
	            <div class="col-xl-3 text-center mt-2">
	               	<small class="order-canceled text-start py-1 px-5 rounded-pill">
					  Bị hủy bởi KH: <b>{{orderCancel}}</b> đơn
					</small>
	        	</div>
	            <div class="col-xl-3 text-center mt-2">
	               	<small class="order-canceled text-start py-1 px-5 rounded-pill">
					  Bị hủy do CH: <b>{{orderCanceled}}</b> đơn
					</small>
	            </div>
			</div>
		</div>
	</div>
	
	<!-- Sales Chart Start -->
     <div class="container-fluid pt-4 px-4">
         <div class="row g-4">
         
         	<!-- Biểu đồ hóa đơn -->
             <div class="col-sm-12 col-xl-6">
                 <div class="bg-second text-center rounded p-4">
                     <div class="d-flex align-items-center justify-content-between mb-4">
                         <h6 class="mb-0 color-text">Thống kê hóa đơn trong năm</h6>
                     </div>
                     <canvas id="worldwide-sales"></canvas>
                 </div>
             </div>
             
             <!-- Biểu đồ doanh thu -->
             <div class="col-sm-12 col-xl-6">
                 <div class="bg-second text-center rounded p-4">
                     <div class="d-flex align-items-center justify-content-between mb-4">
                         <h6 class="mb-0 color-text">Thống kê doanh thu trong năm</h6>
                     </div>
                     <canvas id="salse-revenue"></canvas>
                 </div>
             </div>
         </div>
     </div>
 <!-- Sales Chart End -->
 
 <!-- Recent Sales Start -->
     <div class="container-fluid pt-4 px-4 mb-3">
         <div class="bg-second text-center rounded p-4">
             <div class="d-flex align-items-center justify-content-between mb-4">
                 <h6 class="mb-0 color-text">Top 5 món bán chạy nhất</h6>
             </div>
             <div class="table-responsive">
                 <table class="table border text-nowrap text-md-nowrap table-hover mb-0">
                 	 <colgroup>
				    	<col width="80" span="1">
				     </colgroup>
                     <thead class="table_primary">
                         <tr>
                             <th>Ảnh</th>
                             <th>Tên món</th>
                             <th>Giá</th>
                             <th>Số lượng bán</th>
                         </tr>
                     </thead>
                     <tbody>
                    	<tr ng-if="pager.items == 0">
				            <th colspan="4" class="text-center">
								<img alt="" src="/assets/images/icon_cart_blank.png" class="w-50">
							</th>
				        </tr>
                        <tr ng-repeat="item in pager.items" >
                             <td class="text-center">
                                 <img 
                                 	ng-if="item.productImage != null"
                                 	class="rounded-circle" 
                                 	ng-src="/assets/images/Products/{{item.productImage}}" 
                                 	alt="{{item.productImage}}" 
                                 	style="width: 40px; height: 40px;"
                                 >
                                 <img 
                                 	ng-if="item.productImage == null"
                                 	class="rounded-circle" 
                                 	src="/assets/images/Products/icon_food.png" 
                                 	alt="{{item.productImage}}" 
                                 	style="width: 40px; height: 40px;"
                                 >
                             </td>
                             <td class="text-start">{{item.productName}}</td>
                             <td class="text-end">{{item.productPrice | currency:'':0}} đ</td>
                             <td class="text-end">{{item.amount}} lượt</td>
                         </tr>
                     </tbody>
                 </table>
             </div>
         </div>
     </div>
<!-- Recent Sales End -->
