<nav class="mt-3 mx-3" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">{{titleBreadcrumb}}</li>
    <li class="breadcrumb-item active" aria-current="page">{{titleBread}}</li>
  </ol>
</nav>

<!-- Sales Chart Start -->
     <div class="container-fluid pt-4 px-4">
         <div class="row mx-1">
             <div class="bg-second text-center rounded p-4">
                 <div class="d-flex align-items-center justify-content-between mb-4">
                     <h6 class="mb-0 color-text">Thống kê doanh thu từ sản phẩm</h6>

                     <div class="d-flex align-items-center">
				        <select 
				        	ng-change="getReportByMonth()"
							ng-model="list"
							ng-options="month.id as month.name for month in months"
				        	class="form-select form-select-sm border-0 border-bottom rounded-0" 
				        >
						  <option value="" class="fw-bold bg-info text-white">--Vui lòng chọn--</option>
						</select>
                 	</div>   
                 </div>
				<canvas id="productChart"></canvas>
             </div>
         </div>
     </div>
<!-- Sales Chart End -->

<!-- Recent Sales Start -->
     <div class="container-fluid pt-4 px-4 mb-3">
         <div class="bg-second text-center rounded p-4">
             <div class="d-flex align-items-center justify-content-between mb-4">
                 <h6 class="mb-0 color-text">Top 10 món bán chạy nhất</h6>
             </div>
             <div class="table-responsive">
                 <table class="table border text-nowrap text-md-nowrap table-hover mb-0">
                     <thead class="table_primary">
                         <tr>
                             <th>Ảnh</th>
                             <th>Tên món</th>
                             <th>Giá</th>
                             <th>Số lượng bán</th>
                             <th>Doanh thu</th>
                         </tr>
                     </thead>
                     <tbody>
                     	<tr ng-if="pager.items == 0">
				            <th colspan="5" class="text-center">
								<img alt="" src="/assets/images/icon_cart_blank.png" class="w-50">
							</th>
				        </tr>
                         <tr ng-repeat="item in pager.items">
                             <td class="text-center">
                                 <img 
                                 	ng-if="item.productImage != null"
                                 	class="rounded-circle" 
                                 	ng-src="/assets/images/Products/{{item.productImage}}" 
                                 	alt="{{item.productImage}}" 
                                 	style="width: 40px; height: 40px;"
                                 >
                                 <img 
                                 	ng-if="item.productImage == null"
                                 	class="rounded-circle" 
                                 	src="/assets/images/Products/icon_food.png" 
                                 	alt="{{item.productImage}}" 
                                 	style="width: 40px; height: 40px;"
                                 >
                             </td>
                             <td class="text-start">{{item.productName}}</td>
                             <td class="text-end">{{item.productPrice | currency:'':0}} đ</td>
                             <td class="text-end">{{item.amount}} lượt</td>
                             <td class="text-end">{{item.productPrice*item.amount | currency:'':0}} đ</td>
                         </tr>
                     </tbody>
                 </table>
             </div>
         </div>
     </div>
<!-- Recent Sales End -->