<div class="row mt-3 px-5">
	<div class="col-xl-2 col-sm-12 text-start">
			<img 
			th:src="@{/assets/images/user_admin/testimonials-1.jpg}" 
			class="rounded-circle border-0
					mt-2" style="width: 60px; height: 60px;">
	</div>
	<div class="col-xl-10 col-sm-12">
		<div class="row text-start mt-2">
			<h5 class="mb-0">Bình luận</h5>
			<div class="d-flex">
				<small><i class="fa-solid fa-star text-secondary"></i></small>
				<small><i class="fa-solid fa-star text-secondary"></i></small>
				<small><i class="fa-solid fa-star text-secondary"></i></small>
				<small><i class="fa-solid fa-star text-secondary"></i></small>
				<small><i class="fa-solid fa-star text-secondary"></i></small>
			</div>
		</div>
		<div class="row mt-2">
			<textarea 
				rows="4" 
				cols="6" 
				class="comment rounded fst-italic" 
				placeholder="Đóng góp ý kiến của bạn"></textarea>
		</div>
		<div class="row my-2">
			<div class="col text-end">
				<button class="btn btn-success">Gửi đánh giá</button>
			</div>
		</div>
	</div>
</div>