<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	th:replace="~{/layout/layout :: dynamic(~{::title}, ~{::section})}"
>
<head>
<title>Chi tiết đơn hàng</title>
</head>
<body>
	<section class="container my-3">
		<div class="row">
			<h2 class="text-start my-2" >
				DH10001
			</h2>
		</div>
		<div class="row">
			<div class="col-xl-8 col-sm-12">
				<div class="row bg-white rounded p-3">
					<div class="hstack gap-3">
					  <div class="col-xl-4">
						<h6 class="mb-0">Thông tin nhận hàng</h6>
						<span> <b>Nguyễn Văn A</b> - 0942.xxx.xxx</span>
					  </div>
					  <div class="col-xl-8 text-end">
					  	<p class="text-truncate mb-0 fst-italic" style="font-size: 14px;">
					  		There are many variations of passages of Lorem Ipsum available, 
					  		but the majority have suffered alteration in some form, by injected humour, 
					  		or randomised words which don't look even slightly believable. If you are going to use a passage of 
					  		Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
					  		 All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, 
					  		 making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, 
					  		 combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. 
					  		 The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic 
					  		 words etc.
					  	</p>
					  </div>
					</div>
				</div>
				
				<div 
					ng-repeat="p in arr2.products2"
					class="row bg-white rounded my-3 py-2"
				>
					<div class="col-xl-2 text-center">
						<img 
							th:src="@{/assets/images/{{p.image}}}" 
							style="width: 50px; height: 50px; border-radius: 10px;"
						>
					</div>
					<div class="col-xl-10">
						<div class="row">
							<div class="col-xl-9">
								<span class="text-truncate"> <b>{{p.name}}</b> </span>
							</div>
							<div class="col-xl-3 text-end">
								<span class="text-secondary text-truncate"> 
									{{p.price | currency : '' : 2}} đ
								</span>
							</div>
						</div>
						<div class="row">
							<div class="col-xl-3">
								Số lượng: {{p.amount}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-sm-12 text-center">
				<div class="bg-white p-4 rounded">
					<h5 class="fw-bold">Thông tin vận chuyển</h5>
					<hr>
					<div class="row mb-3">
						<div class="col-xl-6 text-start">
							<small class="fw-bold">Trạng thái dơn hàng: </small>
						</div>
						<div class="col-xl-6 text-end">
							<small class="fst-italic text-warning">Đang xử lý</small>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-6 text-start">
							<h6>Tổng tiền sản phẩm: </h6>
							<h6>Tổng tiền vận chuyển: </h6>
							<h6>Tổng tiền thanh toán: </h6>							
						</div>
						<div class="col-xl-6 text-end">
							<span>449,000 đ</span> <br>
							<span>0 đ</span> <br>
							<span> <b>449,000 đ</b> </span>
						</div>
					</div>
					<hr>
					<div class="text-start mb-1">
						<i class="fa-solid fa-money-bill-wave text-warning"></i>
						<small>Mã giảm giá</small>
					</div>
					<div class="input-group input-group-sm mb-3">
					  <input type="text" class="form-control" 
					    aria-label="Sizing example input" 
					    aria-describedby="inputGroup-sizing-sm"
					    value="Giảm 50k"
					  >
					</div>
					<hr>
					<div class="row">
						<div class="col-xl-6 text-start">
							<small class="fw-bold">Phương thức thanh toán: </small>
						</div>
						<div class="col-xl-6 text-end">
							<small>Thanh toán bằng tiền mặt</small>
						</div>
					</div>	
					<hr>
					<button
					 class="btn btn-primary w-100 fw-bold mb-3">
						Đã nhận được hàng
					</button>
					<button
					 class="btn btn-danger w-100 fw-bold mb-3">
						Hủy đơn
					</button>
				</div>
			</div>
		</div>
	</section>
</body>
</html>