<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	th:replace="~{/layout/layout :: dynamic(~{::title}, ~{::section})}">
<head>
<title>Chi tiết đơn hàng</title>
</head>
<body>
	<section class="container my-3">
		<div class="row">
			<h2 class="text-start my-2">[[${detail.ordercode}]]</h2>
		</div>
		<div class="row">
			<div class="col-xl-8">
				<div class="row bg-white rounded p-3">
					<div class="col-xl-4 mb-2">
						<h6 class="mb-0">Thông tin nhận hàng</h6>
						<span> <b>[[${detail.fullname}]]</b> -[[${detail.phone}]]
						</span>
					</div>
					<div class="col-xl-8 text-end">
						<p class="text-truncate mb-0 fst-italic" style="font-size: 14px;">
							There are many variations of passages of Lorem Ipsum available,
							but the majority have suffered alteration in some form, by
							injected humour, or randomised words which don't look even
							slightly believable. If you are going to use a passage of Lorem
							Ipsum, you need to be sure there isn't anything embarrassing
							hidden in the middle of text. All the Lorem Ipsum generators on
							the Internet tend to repeat predefined chunks as necessary,
							making this the first true generator on the Internet. It uses a
							dictionary of over 200 Latin words, combined with a handful of
							model sentence structures, to generate Lorem Ipsum which looks
							reasonable. The generated Lorem Ipsum is therefore always free
							from repetition, injected humour, or non-characteristic words
							etc.</p>
					</div>
				</div>

				<div th:each="p : ${detail.orderDetail}"
					class="row bg-white rounded my-3 py-2 mx-1">
					<div class="col-xl-2 mb-2 text-end text-end-mb">
						<img th:src="@{/assets/images/Products/${p.product.image}}"
							style="width: 50px; height: 50px; bdetail-radius: 10px;">
					</div>
					<div class="col-xl-10">
						<div class="row">
							<div class="col-xl-9 col-8">
								<span class="text-truncate"> <b>[[${p.product.name}]]</b>
								</span>
							</div>
							<div class="col-xl-3 col-4 d-flex justify-content-end">
								<p class="text-secondary text-truncate">[[${p.product.price}]]</p>
								<span class="mx-1">đ</span>
							</div>
						</div>
						<div class="row">
							<div class="col-xl-3">Số lượng: [[${p.amount}]]</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-sm-12 text-center">
				<div class="bg-white p-4 rounded">
					<h5 class="fw-bold">Thông tin vận chuyển</h5>
					<hr>
					<div class="row mb-3">
						<div class="col-xl-6 text-start">
							<small class="fw-bold">Trạng thái đơn hàng: </small>
						</div>
						<div class="col-xl-6 text-end">
							<small th:if="${detail.status == 1}"
								class="fst-italic text-warning">Đang xử lý</small> <small
								th:if="${detail.status == 2}" class="fst-italic text-warning">Đang
								giao</small> <small th:if="${detail.status == 3}"
								class="fst-italic text-warning">Đã nhận</small> <small
								th:if="${detail.status == 4}" class="fst-italic text-warning">Đã
								hủy</small>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-6 text-start">
							<h6>Tổng tiền thanh toán:</h6>
						</div>
						<div class="col-xl-6 text-end">
							<span> <b>[[${detail.totalMoney}]] đ</b>
							</span>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-xl-6 text-start">
							<small class="fw-bold">Phương thức thanh toán: </small>
						</div>
						<div class="col-xl-6 text-end text-end-mb">
							<small>[[${detail.paymentType.paymentName}]]</small>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-6 text-start">
							<small class="fw-bold">Hình thức nhận hàng: </small>
						</div>
						<div class="col-xl-6 text-end text-end-mb">
							<small>[[${detail.shippingType.shippingName}]]</small>
						</div>
					</div>
					<hr>
					<button th:attr="ng-click='completeOrder('+${detail.id}+')'"
						class="btn btn-primary w-100 fw-bold mb-3">Đã nhận được
						hàng</button>
					<button th:attr="ng-click='cancelOrder('+${detail.id}+')'"
						class="btn btn-outline-danger w-100 fw-bold mb-3">Hủy đơn</button>
				</div>
			</div>
		</div>
	</section>
</body>
</html>