<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	th:replace="~{/layout/layout :: dynamic(~{::title}, ~{::section})}">
<head>
<title>Giỏ hàng</title>

</head>
<body>
	<section class="container my-3">
		<div class="row">
			<h2 class="text-start my-2" >
				<i class="fa-solid fa-basket-shopping"></i>
				GIỎ HÀNG
			</h2>
		</div>
		<div class="row px-2">
			<div class="col-xl-8">
				<div class="row">
					<h5 class="m-0 p-0">Thông tin đơn hàng</h5>
				</div>
				
				<div 
					ng-repeat="p in arr2.products2"
					class="row shadow rounded my-3 py-3">
					<div class="col-xl-2 text-end text-end-mb">

						<img 
							th:src="@{/assets/images/{{p.image}}}" 
							style="width: 50px; height: 50px; border-radius: 10px;"
						>
					</div>
					<div class="col-xl-10">
						<div class="row">
							<div class="col-xl-9 col-8">
								<span class="text-truncate"> <b>{{p.name}}</b> </span>
							</div>
							<div class="col-xl-3 col-4 d-flex justify-content-end">
								<p class="text-secondary text-truncate"> 
									{{p.price | currency : '' : 0}} 
								</p>
								<span class="mx-1">đ</span>
							</div>
						</div>
						<div class="row">
							<div class="col-xl-3 col-4">

								<div class="input-group input-group-sm mb-3">
								  <button 
								  	ng-click="number = number - 1"
								  	class="input-group-text bg-white"
								  >
								  	<i class="fa-solid fa-minus"></i>
								  </button>
								  <input 
									   ng-model="number"
									   class="form-control text-center"
								  >
								  <button 
								  	ng-click="number = number + 1"	
								  	class="input-group-text bg-white"
								  >
									<i class="fa-solid fa-plus"></i>
								  </button>
								</div>
							</div>
							<div class="col-xl-9 col-8 text-end">

								<span 
									ng-click="delete()" 
									class="text-danger"
									style="cursor: pointer;"	
								> 
									<i class="fa-solid fa-trash-can"></i>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-sm-12 text-center">
				<div class="bg-white p-4 rounded">
					<h5 class="fw-bold">Thông tin vận chuyển</h5>
					<hr>
					<div class="row">
						<div class="col-xl-6 col-8 text-start">
							<h6>Tổng tiền sản phẩm: </h6>
						</div>
						<div class="col-xl-6 col-4 d-flex justify-content-end">
							<p class="text-secondary text-truncate mb-0"> 
								{{arr2.amount | currency : '' : 0}} 
							</p>
							<span class="mx-1">đ</span>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-6 col-8 text-start">
							<h6>Tổng tiền vận chuyển: </h6>
						</div>
						<div class="col-xl-6 col-4 d-flex justify-content-end">
							<p class="text-secondary text-truncate mb-0"> 
								{{arr2.ship | currency : '' : 0}} 
							</p>
							<span class="mx-1">đ</span>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-6 col-8 text-start">
							<h6>Tổng tiền thanh toán: </h6>							
						</div>
						<div class="col-xl-6 col-4 d-flex justify-content-end">
							<p class="text-secondary text-truncate mb-0"> 
								{{arr2.total | currency : '' : 0}} 
							</p>
							<span class="mx-1">đ</span>

						</div>
					</div>
					<hr>
					
					<div class="row">
						<h6 class="text-start"> Thông tin nhận hàng </h6>
						<div class="mb-3 text-start">
						  <small class="form-label">Tên người nhận:</small>
						  <input type="text" class="form-control form-control-sm" placeholder="--Vui lòng nhập--">
						  <small class="form-label">Số điện thoại:</small>
						  <input type="text" class="form-control form-control-sm" placeholder="--Vui lòng nhập--">
						  <small class="form-label">Địa chỉ nhận hàng:</small>
						  <input type="text" class="form-control form-control-sm" placeholder="--Vui lòng nhập--">
						</div>
					</div>
					<div class="row">
					    <h6 class="d-flex justify-content-between"
					    	data-bs-toggle="collapse" 
					    	data-bs-target="#collapseBussiness" 
					    	aria-expanded="false" 
					    	aria-controls="collapseExample"
					    	style="cursor: pointer;"
					    >
					      Phương thức thanh toán
					      <i class="fa-solid fa-sort-down"></i>
					    </h6>
						<div class="collapse show" id="collapseBussiness">

						  <div class="form-check text-start" >
							  <input class="form-check-input" 
								  type="radio" value="true" 
								  name="bussiness" id="bussiness" checked>
							  <label class="form-check-label" for="bussiness">
							    Thanh toán bằng tiền mặt
							  </label>
						  </div>
						  
						  <div class="form-check text-start" >
							  <input class="form-check-input" 
								  type="radio" value="false" 
								  name="bussiness" id="bussiness">
							  <label class="form-check-label" for="bussiness">
							    Thanh toán bằng thẻ ngân hàng
							  </label>
						  </div>
						</div>
					</div>	
					
					<hr>
					<button
					 ng-click="pay()"
					 class="btn btn-primary w-100 fw-bold">
						Đặt ngay
					</button>
				</div>
			</div>
		</div>
	</section>
</body>
</html>