<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	th:replace="~{/layout/layout :: dynamic(~{::title}, ~{::section})}">
<head>
<title>Trang chủ</title>
</head>
<body>

	<section class="container">
		<div class="row">
			<nav style="--bs-breadcrumb-divider: '>'; font-size: 14px;"
				aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a 
							th:href="@{/home/client}"
							class="text-decoration-none text-dark"
						>Trang chủ</a>
					</li>
					<li class="breadcrumb-item" aria-current="page">
						<a 
							href="#"
							class="text-decoration-none text-dark"
						>Sản phẩm của <b class="text-primary">{{titleStore}}</b></a>
					</li>
					<li class="breadcrumb-item active">
						<a 
							href="#"
							class="text-decoration-none text-dark"
						>Tất cả</a>
					</li>
				</ol>
			</nav>
		</div>
		<div class="row">
			<div class="col-xl-2">
				<!-- ======= Loại ======= -->
				<div class="row mb-1">
				    <h6 class="d-flex justify-content-between"
				    	data-bs-toggle="collapse" 
				    	data-bs-target="#collapseCate" 
				    	aria-expanded="false" 
				    	aria-controls="collapseExample"
				    	style="cursor: pointer;"
				    >
				      Loại 
				      <i class="fa-solid fa-sort-down"></i>
				    </h6>
					<div class="collapse show" id="collapseCate">
					  <div class="form-check" >
						  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
						  <label class="form-check-label" for="flexCheckDefault">
						    Tất cả
						  </label>
					  </div>
					  <div
					  	ng-repeat="c in cateArr.cates"
					  	
					  	class="form-check"
					  >
						  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
						  <label class="form-check-label" for="flexCheckDefault">
						    {{c.name}}
						  </label>
					  </div>
					</div>
				</div>
				
				<!-- ======= Giá ======= -->
				<div class="row  mb-3">
				    <h6 class="d-flex justify-content-between"
				    	data-bs-toggle="collapse" 
				    	data-bs-target="#collapsePrice" 
				    	aria-expanded="false" 
				    	aria-controls="collapseExample"
				    	style="cursor: pointer;"
				    >
				      Giá 
				      <i class="fa-solid fa-sort-down"></i>
				    </h6>
					<div class="collapse" id="collapsePrice">
					  <div
					  	class="form-check"
					  >
						  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
						  <label class="form-check-label" for="flexCheckDefault">
						    Cao - Thấp
						  </label>
					  </div>
					  <div
					  	class="form-check"
					  >
						  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
						  <label class="form-check-label" for="flexCheckDefault">
						    Thấp - Cao
						  </label>
					  </div>
					</div>
				</div>
			</div>
			
			<!-- ======= Danh sách sản phẩm ======= -->
			<div class="col-xl-10">
				<div class="row">
					<div 
						ng-repeat="p in arr1.products"
						class="col-xl-3 col-sm-6 card border border-0 px-4 bg-light">
						<a 
							th:href="@{/home/product/detail}"
						>
							<img 
								th:src="@{/assets/images/{{p.image}}}" 
								class="card-img-top" alt="" 
								style="width: 100%; height: 12.5em;">
						</a>
						<div class="card-body px-0">
							<h5 class="card-title text-truncate">{{p.name}}</h5>
							
							<div>
								<span><b>{{p.price - (p.price * p.discount / 100) | currency:'':0}}đ</b> </span> 
								<h3 class="badge rounded-pill text-bg-danger mx-2 animate__animated animate__tada">
									{{p.discount}}%
								</h3>
							</div>
							<div>
								<small><i class="fa-solid fa-star text-warning"></i></small>
								<small><i class="fa-solid fa-star text-warning"></i></small>
								<small><i class="fa-solid fa-star text-warning"></i></small>
								<small><i class="fa-solid fa-star text-warning"></i></small>
								<small><i class="fa-solid fa-star text-warning"></i></small>
							</div>
							<div class="d-flex justify-content-between">
								<div>
									<small> Giá gốc: </small>
									<span class="fw-bold text-secondary text-decoration-line-through">
										{{p.price | currency:'':0}}đ
									</span>
								</div>
								<div>
									<a 
										ng-show="!favorite"
										href="">
										<h5><i class="fas fa-heart text-secondary mx-2"></i></h5>
									</a>
									<a 
										ng-show="favorite"
										href="">
										<h5><i class="fas fa-heart text-danger mx-2"></i></h5>
									</a>
								</div>
							</div>
							
							<a href="#" class="btn btn-primary w-100 mt-2 fw-bold">Mua ngay</a>
							<a th:href="@{/home/cart/view}" class="btn btn-outline-danger w-100 mt-2">
								<i class="fa-solid fa-circle-plus mx-2"></i>
								Thêm vào giỏ hàng
							</a>
						</div>
					</div>
					
					<div class="text-center my-3">
						<button class="btn btn-outline-primary mx-1"><i class="fa-solid fa-angles-left"></i></button>
						<button class="btn btn-outline-primary mx-1"><i class="fa-solid fa-angle-left"></i></button>
						<small class="fw-bold mx-2">1 / 5</small>
						<button class="btn btn-outline-primary mx-1"><i class="fa-solid fa-angle-right"></i></button>
						<button class="btn btn-outline-primary mx-1"><i class="fa-solid fa-angles-right"></i></button>
					</div>
					
				</div>
			</div>
		</div>
	</section>
</body>
</html>